HUJI / Wix Final Project - Bonus Model for Quickâ€™s CC Agents
 - Joined Tables

In [1]:
import numpy as np
import pandas as pd
agents = pd.read_csv("Quick_agents_details_data.csv")
interactions = pd.read_excel("Quick_agents_interactions_data_october_december_2021.xlsx")

In [2]:
agents.head()

,agent_id,agent_type,agent_language,start_date_at_quick
0,6d050ff2-ba20-4956-a943-7f70f84b25d1,Billing Agent,EN,2019-09-03 18:11:19.000
1,e060f248-6fa8-45f9-843f-5f8b4a1f34a1,Billing Agent,EN,2019-09-03 09:19:40.000
2,588a31cb-0ee0-4a49-8ef1-832a4c72c6f4,Billing Agent,EN,2020-03-19 21:39:19.000
3,259119a5-d6f6-42de-9e1d-42a48e6b0d1a,Billing Agent,EN,2019-09-03 18:11:18.000
4,a6bdff3f-a5b2-4c9b-8426-275266b80558,Billing Agent,EN,2019-07-28 09:51:28.000

In [3]:
agents.tail()

,agent_id,agent_type,agent_language,start_date_at_quick
670,042b3f2a-0045-40a6-bc6c-71873788136b,Marketing Agent,EN,2019-05-12 08:17:36.000
671,317dc6a0-9d3d-4114-9e5c-75b3d739561e,Marketing Agent,EN,2019-09-16 20:01:31.000
672,71d76371-a562-4b11-a316-f7ad1d1305f6,Marketing Agent,EN,2018-12-17 07:16:21.000
673,989e1b2c-a72b-4e5d-bc8e-a137503f9056,Marketing Agent,EN,2019-09-26 14:13:17.000
674,b6089152-4d72-443a-b93e-484b98f11815,Marketing Agent,EN,2019-06-30 14:10:30.000

In [4]:
agents.describe()

,agent_id,agent_type,agent_language,start_date_at_quick
count,675,675,675,675
unique,675,4,13,476
top,6d050ff2-ba20-4956-a943-7f70f84b25d1,General CC Agent,EN,2020-04-23 06:50:12.000
freq,1,569,452,5

In [5]:
agents.shape

(675, 4)

In [6]:
agents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 675 entries, 0 to 674
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   agent_id             675 non-null    object
 1   agent_type           675 non-null    object
 2   agent_language       675 non-null    object
 3   start_date_at_quick  675 non-null    object
dtypes: object(4)
memory usage: 21.2+ KB

In [7]:
#converting 'start_date' column to datetime due to problems that will come later in the code.
agents['start_date_at_quick'] = pd.to_datetime(agents['start_date_at_quick'])

# checking
agents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 675 entries, 0 to 674
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   agent_id             675 non-null    object
 1   agent_type           675 non-null    object
 2   agent_language       675 non-null    object
 3   start_date_at_quick  675 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 21.2+ KB

In [8]:
#converting the agent_id columns in both tables for merging them later.
agents['agent_id'] = agents['agent_id'].astype(str)
interactions['agent_id'] = interactions['agent_id'].astype(str)

In [9]:
# merging tables on 'agent_id' column.
joined = pd.merge(agents, interactions, how='left', on='agent_id')
joined.head()

,agent_id,agent_type,agent_language,start_date_at_quick,interaction_id,interaction_date_new,channel,overall_service_ans,nps_ans,nps_reason,is_offer_exist,is_offer_suggested,is_offer_implemented
0,6d050ff2-ba20-4956-a943-7f70f84b25d1,Billing Agent,EN,2019-09-03 18:11:19,f77695f7-18ed-4c50-b9d2-0c28af152275,2021-10-02 12:50:10.762,Email,NaN,NaN,NaN,NaN,NaN,NaN
1,6d050ff2-ba20-4956-a943-7f70f84b25d1,Billing Agent,EN,2019-09-03 18:11:19,d22189f3-aa08-4670-b001-e3d7a13dcdad,2021-10-02 13:24:20.059,Email,NaN,NaN,NaN,NaN,NaN,NaN
2,6d050ff2-ba20-4956-a943-7f70f84b25d1,Billing Agent,EN,2019-09-03 18:11:19,dc7706d3-47f6-4315-9739-44130d322329,2021-10-02 13:32:49.969,Email,NaN,NaN,NaN,NaN,NaN,NaN
3,6d050ff2-ba20-4956-a943-7f70f84b25d1,Billing Agent,EN,2019-09-03 18:11:19,a5a46a53-9c05-4df0-97c3-8297253f1191,2021-10-02 13:38:48.417,Email,NaN,NaN,NaN,NaN,NaN,NaN
4,6d050ff2-ba20-4956-a943-7f70f84b25d1,Billing Agent,EN,2019-09-03 18:11:19,75bb4173-0837-4309-8b1f-88307174b064,2021-10-02 14:37:52.097,Email,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# creating a new column of 'work_period_days'.
end_date = pd.to_datetime('2021-12-31')

#work_period
joined['work_period_days'] = (end_date - joined['start_date_at_quick']).dt.days

# reordering the columns for a better view.
new_order=['agent_id', 'agent_type', 'agent_language', 'start_date_at_quick','work_period_days',
           'interaction_id','interaction_date_new','channel','overall_service_ans','nps_ans','nps_reason',
          'is_offer_exist','is_offer_suggested','is_offer_implemented']
joined = joined.reindex(columns=new_order)

joined.head()

,agent_id,agent_type,agent_language,start_date_at_quick,work_period_days,interaction_id,interaction_date_new,channel,overall_service_ans,nps_ans,nps_reason,is_offer_exist,is_offer_suggested,is_offer_implemented
0,6d050ff2-ba20-4956-a943-7f70f84b25d1,Billing Agent,EN,2019-09-03 18:11:19,849,f77695f7-18ed-4c50-b9d2-0c28af152275,2021-10-02 12:50:10.762,Email,NaN,NaN,NaN,NaN,NaN,NaN
1,6d050ff2-ba20-4956-a943-7f70f84b25d1,Billing Agent,EN,2019-09-03 18:11:19,849,d22189f3-aa08-4670-b001-e3d7a13dcdad,2021-10-02 13:24:20.059,Email,NaN,NaN,NaN,NaN,NaN,NaN
2,6d050ff2-ba20-4956-a943-7f70f84b25d1,Billing Agent,EN,2019-09-03 18:11:19,849,dc7706d3-47f6-4315-9739-44130d322329,2021-10-02 13:32:49.969,Email,NaN,NaN,NaN,NaN,NaN,NaN
3,6d050ff2-ba20-4956-a943-7f70f84b25d1,Billing Agent,EN,2019-09-03 18:11:19,849,a5a46a53-9c05-4df0-97c3-8297253f1191,2021-10-02 13:38:48.417,Email,NaN,NaN,NaN,NaN,NaN,NaN
4,6d050ff2-ba20-4956-a943-7f70f84b25d1,Billing Agent,EN,2019-09-03 18:11:19,849,75bb4173-0837-4309-8b1f-88307174b064,2021-10-02 14:37:52.097,Email,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# total number of agents
joined['agent_id'].value_counts()

99b4b176-551f-4e78-8271-75904d7e18ea    1776
a6bdff3f-a5b2-4c9b-8426-275266b80558    1305
7796ed7a-58f1-4ea7-8c2a-17351b898b84    1273
5d9c305b-96b2-4168-9327-99207716589d    1118
a1565317-0202-4013-8430-5cd7ecdb6e18    1109
                                        ...
3491d060-a580-486e-96f8-ce04ffca782e       1
b695220e-f790-4ca7-92e0-5c32537be0d8       1
b5afbfac-fef0-4d6d-bf8d-513b254e6566       1
ba0972ba-344e-4286-b0d7-31f729b5e0a1       1
b6089152-4d72-443a-b93e-484b98f11815       1
Name: agent_id, Length: 675, dtype: int64

In [31]:
# exporting to excel
joined.to_excel('joined.xlsx', index=False)